
{% extends "base.html" %}

{% block title %}Book a Trip{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Available Space Trips</h2>
            <div id="tripList" class="row">
                {% for trip in trips.values() %}
                <div class="col-md-6 mb-4">
                    <div class="card trip-card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ trip.destination }}</h5>
                            <div class="trip-details">
                                <p><i data-feather="calendar"></i> Departure: {{ trip.departure_date }} {{ trip.departure_time }}</p>
                                <p><i data-feather="clock"></i> Duration: {{ trip.duration }}</p>
                                <p><i data-feather="airplay"></i> Spacecraft: {{ trip.spacecraft }}</p>
                                
                                <div class="pricing-tiers mt-3">
                                    <h6>Pricing Tiers:</h6>
                                    <ul class="list-unstyled">
                                        <li>Economy: ${{ "{:,}".format(trip.price.economy) }}</li>
                                        <li>Business: ${{ "{:,}".format(trip.price.business) }}</li>
                                        <li>VIP: ${{ "{:,}".format(trip.price.vip) }}</li>
                                    </ul>
                                </div>

                                <div class="crew-info mt-3">
                                    <h6>Crew:</h6>
                                    <ul class="list-unstyled">
                                        {% for role, name in trip.crew.items() %}
                                        <li>{{ role.replace('_', ' ').title() }}: {{ name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="experiences mt-3">
                                    <h6>Experiences:</h6>
                                    <ul>
                                        {% for exp in trip.experiences %}
                                        <li>{{ exp }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary book-trip mt-3" data-trip-id="{{ trip.id }}">
                                Book Now
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div id="map" style="height: 400px;" class="mb-4"></div>
            <div class="launch-site-info">
                <h4>Launch Site: Museum of the Future, Dubai</h4>
                <p>Next launch countdown: <span id="countdown">Loading...</span></p>
                <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnRjZzloMjMyYTAwbmJsNzZmb2VjbzBxdDhtaDc0N3Y0MTJhNG0yaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1n4FT4KRQkDvK0IO4X/giphy.gif" alt="Launch Site" style="width: 100%; height: auto; border-radius: 8px; margin-top: 15px;">
            </div>
        </div>
    </div>
</div>

<script src="/static/js/booking.js"></script>
{% endblock %}
